/* Variables */

$color-blue: #0097e6;
$color-white: #FFFFFF;
$color-green: #33d9b2;
$color-red: #ff5252;
$color-text: #2c2c54;

$text-body: 'Inconsolata', monospace;
$text-head: 'Signika Negative', sans-serif;

/* Global */

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-size: 16px;
   line-height: 1.7;
   font-family: $text-body;
   color: $color-text;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}

section {
   padding: 96px 0;
}

/* Navigation */

.navigation {
   background: $color-blue;
   padding: 12px 0;
}

.navigation ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.navigation li {
   position: relative;
   display: inline-block;
   margin-right: 36px;
}

.navigation a {
   text-decoration: none;
   color: $color-white;
   transition: 0.2s;

   &:hover {
      color: $color-green;
   }
}

.navigation ul ul li {
   display: block;
   margin-bottom: 12px;
   text-align: center;
}

.navigation li ul {
   display: none;
   left: 50%;
   transform: translateX(-50%);
}

.navigation li:hover ul {
   display: block;
   position: absolute;
   background: $color-white;
   border-radius: 10px;
}

.navigation li li a {
   color: $color-blue;
   display: block;
   padding: 0 0 0 24px;
   text-align: center;

   &:hover {
      color: $color-green;
   }
}

